<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html >
  <head>
  <title>RogueNaRok</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" > </script>  
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.qtip-1.0.0-rc3.min' %>
  <%= stylesheet_link_tag 'roguenarok' %>

  </head>
  <body >

    <!--Header -->
    <div id="header">
      <h1>RogueNaRok</h1>
    </div>

    <!-- Navigation and Logo -->
    <div id="navigation">
      <div id="spacer">
        &nbsp;
      </div>
      <div id="nav_points">
        <%= link_to_unless_current "Submit Job", :action => 'submit'%>
      </div>
      <div id="nav_points">
        <%= link_to_unless_current "Look up Jobs", :action => 'look'%>
      </div>
      <div id="nav_points">
        <%= link_to_unless_current "Contact", :action => 'contact'%>
      </div>
      <div id="nav_points">
        <%= link_to_unless_current "Help", :action => 'about'%>
      </div>
      <div id="logo">
        <a href="http://www.exelixis-lab.org/" target="_blank">Exelixis Lab</a>
      </div>
    </div>

    <!-- Content -->
    <div id="content">
      <%= yield%>
    </div>

    <div id="footer">
      <center><p> &copy 2012 <a href="http://www.exelixis-lab.org/" target="_blank">Exelixis Lab</a> |  <%= link_to "Contact", :action => 'contact'%></p> </center>
    </div>

    <script type="text/javascript" >
      $.fn.qtip.styles.abererStyle = {
        border: { color: '#ff7e00' } ,
        color: '#4A3D77',
        background: '#FFD2A6',
        tip: true ,
        width: {max : 500}
      }

      $('[type="help"]').qtip({
        show: {
          effect: {
            type: 'fade',
            length: 300
          } ,
          delay: 300
        },
        position: {
          corner: {
            target: 'topMiddle',
            tooltip: 'bottomLeft'
          }
        },
        style: 'abererStyle'
      })

      $('.help').qtip({
        show: {
          effect: {
            type: 'fade',
            length: 300
          },
          delay: 300
        },
        position: {
          corner: {
            target: 'topMiddle',
            tooltip: 'bottomLeft'
          }
        },
        style: 'abererStyle'
      })

      $('[omg="help"]').qtip({
        show: {
          effect: {
            type: 'fade',
            length: 300
          },
          delay: 300
        },
        position: {
          corner: {
            target: 'topMiddle',
            tooltip: 'bottomLeft'
          }
        },
        style: 'abererStyle'
      })
    </script>
  </body>
</html>
